.detail {
    border: 1px solid black;
    width: 70%;
    margin: auto;
    margin-left: 7%;
    padding: 20px;
    text-align:left;
    float:left;
}

.side {
    width:25%;
}

.center {
    width:50%;
    float: center;
}

.detail .title {
    font-weight: bold;
    border: none;
}

.detail div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail .border {
    border: none;
}