.detail {
    border: 1px solid black;
    width: 70%;
    margin: auto;
    padding: 20px;
    text-align:left;
}

.left {
    width:25%;
}

.center {
    width:50%;
}

.right {
    width:25%;
}

.detail .title {
    font-weight: bold;
}

.detail div {
    margin-bottom: 20px;
}

.hidden {
    visibility  : hidden;
}