/* .App {
  text-align: center;
} */

.page {
  margin-top: 15px;
  margin-bottom: 50px;
}

.page nav {
  display : flex;
}

.page ul {
  margin: auto;
}

.filter {
  margin: auto;
  text-align:right;
  margin-top: 20px;
  margin-bottom: 7px;
}

.filter div {
  background-color: white;
}

.filter .btn {
  margin-left: 5px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  min-width: 350px;
  background-color: white;
  border: 1px solid #000;
  box-shadow: 24;
  padding: 20px;
  max-height: 450px;
  overflow: auto;
}

.modal div {
  margin-bottom: 5px;
}

.btn {
  float: right;
}

.box {
  border: 1px solid lightgrey;
  margin: auto;
  margin-top: 10px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}

.box:hover {
  box-shadow: 1px 1px 20px #ddd;
}

.bookMark {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  height : 20px;
}